@import "bootstrap.min.css";
@import "core.css";
@import "components.css";
@import "icons.css";
@import "pages.css";
@import "responsive.css";

.float-left {
    float:left;
}
.float-right {
    float:right;
}

.concert-box {
    width:19%;
    display:inline-block;
    margin-right:1%;
    position:relative;
}

.gal-detail {
    cursor:pointer;
    margin-top:15px;
}

.venue-label {
    position:absolute;
    bottom:48px;
    right:23px;
}

.live-display {
    position:absolute;
    bottom:18px;
    right:25px;
    color:#fff;
}

.live-display.static {
    position:static;
}
.live-display.static .live-marker {
    position:relative;
    left:42px;
    top:4px;
    margin-right:0px;
}

.live-marker {
    float:left;
    margin-right:7px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    width:10px;
    height:10px;
    position:relative;
    top:5px;
}

.custombox-perspective body {
    background: url('../../../images/concert-crowd.jpg') no-repeat;
    background-size: cover;
}
/*.custombox-modal-wrapper {*/
/*}*/

.custombox-modal-wrapper {
    overflow-y:hidden;
}

/*.custombox-modal-wrapper::after {*/
    /*content: "";*/
    /*opacity: 0.8;*/
    /*top: 0;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*position: absolute;*/
    /*z-index: -1;*/
/*}*/

#concertbox-login {
    margin-left:35px;
    margin-top:20px;
}

#concertbox-login .price_card {
    border-radius: 0;
    padding-bottom:10px;
    /*width:210px;*/
}

#concertbox-login .price_card .pricing-header {
    border-radius: 0;
}

#concertbox-login .watch-container {
    position:relative;
    left:550px;
    top:-240px;
    height:0;
}

.price-features b {
    color:#fff;
    margin-right:10px;
}

.watching-info .concert-info {
    position:relative;
    top:30px;
    left:15px;
}

.watching-info h2.label {
    padding-top:12px;
    padding-bottom:15px;
    position:absolute;
    top:58px;
    right:10px;
    font-size:20px;
}

.img-circle.offline {
    opacity: 0.5;
}

.online-marker {
    position:absolute;
    left:100px;
    top:3px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    width:10px;
    height:10px;
}